emails.pkl
progress.pkl
repeated_emails.pkl
spam_filter_model.pkl
.env
myenv
tools/__pycache__
blacklist.pkl
imapguard.py.new
kala.py
mini.py
myenvnsource/
replied_senders.pkl
subject_history.pkl
tools/__pycache__/*

